*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
}

.body{
    background-color: black;
}

header{
    background-color:aliceblue;
    display: flex;
    width: 1366px;
    height: 42px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.logoimagen{
    height: 30px;
    width: 30px;
    margin-top: 4px;
    margin-left: 20px;
}

.navegador{
    display: flex;
    margin-left: 880px;
    margin-top: 10px;
}

li{
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: black;
}

video{
    position: absolute;
    top: 0;
    left: 0;
    width: 1366px;
    height: 596px;
    object-fit: cover; /* Ajusta el video para que ocupe toda la pantalla */
    z-index: -1; /* Asegura que el video esté detrás del contenido */
    filter: brightness(50%); /* Reduce el brillo al 50%, oscureciendo la imagen */
}

.titulo h1{
    font-size: 120px;
    color:rgb(247, 239, 169);
    position: relative;
    text-align: center;
    margin-top: 160px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titulo h2{
    font-size: 20px;
    color:aliceblue;
    position: relative;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 2;
}

.titulo p{
    font-size: 16px;
    color:aliceblue;
    position: relative;
    text-align: center;
    font-style: normal;
    font-family: 'Montserrat';
   
}


.titulo{
    line-height: 1;
}

footer{
    width: 1366px;
    height: 60px;
    background-color: aliceblue;
    margin-top: 555px;
}

footer .pie {
    padding: 20px;
    text-align: center; 
}

.pie a{
    font-family: 'Montserrat';
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    color: black;
}

main{
    background-color: black;
    width: 1366px;
    height: 554px;
    
}


.footernos{
    width: 1366px;
    height: 60px;
    background-color: aliceblue;
    margin-top: 1px;
}

.footernos .pienos {
    padding: 20px;
    text-align: center; 
}

.pienos a{
    font-family: 'Montserrat';
    font-size: 14px;
    text-decoration: none;
    list-style: none;
    color: black;
}

.titulonos{
    width: 600px;
    height: 160px;
    margin-top: 20px;
    margin-left: 200px;
    font-family: "Archivo Black", sans-serif;
}


.titulonos h2{
    font-size: 80px;
    color:rgb(247, 239, 169);
    position: relative;
    text-align: justify;
    font-family: "Archivo Black", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 2;
}

.titulonos p{
    font-size: 16px;
    color:aliceblue;
    position: relative;
    text-align: justify;
    font-style: normal;
   
}

section{
    display: flex;
}

.imgnos{
    width: 240px;
    border-radius: 15px; /* Redondea las esquinas */
    
}

.imagennos{
    margin-top: 50px;
    margin-left: 150px;
}


.productos{
    background-color: black;
    width: 1366px;
    height: 554px;
    align-items: center;
    text-align: center;
    
}

.productos h2{
    margin-left: 250px;
    
}

.imgpro{
    width: 200px;
}

.imgprodos{
    width: 200px;
}

.imgprotres{
    width: 200px;
}

.imgprocuatro{
    width: 200px;
}


.alineados{
    display: flex;
    align-items: center;
    justify-content: center;
}

.alineados img{
    margin-left: 20px;
    margin-right: 20px;
}

.nombres{
    font-size: 20px;
    color:aliceblue;
    position: relative;
    text-align: center;
    font-style: normal;
    font-family: "Archivo Black", sans-serif;
    font-weight:300;
}

.precio{
    font-size: 20px;
    color:aliceblue;
    position: relative;
    text-align: center;
    font-style: normal;
    font-family: "Archivo Black", sans-serif;
    font-weight:300;
}


.boton{
    background-color: beige;
    width: 160px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    margin-left: 35px;
    margin-top: 10px;

}

.compra{
    color: rgb(51, 38, 28);
    text-decoration: none;
    font-family: "Archivo Black", sans-serif;
    font-size: 20px;
}



.tituloub{
    width: 600px;
    height: 160px;
    margin-top: 80px;
    margin-left: 200px;
    font-family: "Archivo Black", sans-serif;
}


.tituloub h2{
    font-size: 80px;
    color:rgb(247, 239, 169);
    position: relative;
    text-align: right;
    font-family: "Archivo Black", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 2;
}

.tituloub p{
    font-size: 16px;
    color:aliceblue;
    position: relative;
    text-align: right;
    font-style: normal;
   
}

.imgub{
    width: 240px;
    border-radius: 15px; /* Redondea las esquinas */
    
}

.imagenub{
    margin-top: 50px;
    margin-left: 150px;
}

section{
    background-color: black;
    width: 1366px;
    height: 554px;
    
}



.titulocon{
    width: 600px;
    height: 160px;
    margin-top: 80px;
    margin-left: 220px;
    font-family: "Archivo Black", sans-serif;
    display: flex;
}


.titulocon h2{
    font-size: 80px;
    color:rgb(247, 239, 169);
    position: relative;
    text-align: left;
    font-family: "Archivo Black", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 2;
}

.titulocon p{
    font-size: 16px;
    color:aliceblue;
    position: relative;
    text-align: left;
    font-style: normal;
   
}


form {
    background-color: white; /* Fondo blanco para el formulario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 300px;
    margin-left: 150px;
  }
  
  label {
    display: block;
    margin: 10px 0 5px;
    font-size: 16px;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: rgb(247, 239, 169);
    color: rgb(53, 46, 46);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
  }
  
  button:hover {
    background-color: rgb(223, 216, 154);
  }



.buy{
    margin-left: 420px;
    margin-top: 130px;

}


.buy h2{
    font-size: 80px;
    color:rgb(247, 239, 169);
    position: relative;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 1;
}

.buy p{
    font-size: 16px;
    color:aliceblue;
    text-align: center;
    font-style: normal;
    font-family: 'Montserrat';
    margin-top: 35px;
    margin-bottom: 30px;
   
}



.buy a{
    font-size: 16px;
    color:rgb(247, 239, 169);
    text-align: center;
    font-style: normal;
    font-family: 'Montserrat';
    text-decoration: none;

    margin-left: 240px;
   
}